extends layout

block nav
  include nav

block content
  if error
  #error.err= error

  .row
    .col-md-9
      h1 Add Forward
      form.form-inline(method='post', action='/_add')
        fieldset
          p
            | http://#{hostname}/
            input.form-control(type='text', name='name', placeholder='pretty-name')
          p
            | should redirect to
          p
            input.form-control(type='text', name='url', placeholder='http://target.url/')
          br
          p
            input.form-control(type='text', name='note', placeholder='Add a note (optional)')
        if host
          fieldset
            input(type='hidden', name='hostname', value=host)
            input#personal(type='checkbox', name='personal', checked=false)
            label(for='personal') personal (#{host})
        fieldset
          input.btn.btn-primary(type='submit', value='Add')

    .col-md-3
      if host
        h3 Personal Forward
        p.
          Personal forwards are only enabled for the current user. By checking the
          <code>personal</code> box, it will only be enabled for you. You can use
          this to override any of the public forwards.

  .row
    .col-md-9
      h1 Add Dynamic Forward
      form.form-inline(method='post', action='/_add')
        fieldset
          p
            | http://#{hostname}/
            input.form-control(type='text', name='name', placeholder='prefix{NUM}')
          p
            | should redirect to
          p
            input.form-control(type='text', name='url', placeholder='http://target.url/{NUM}')
          br
          p
            input.form-control(type='text', name='note', placeholder='Add a note (optional)')
        if host
          fieldset
            input(type='hidden', name='hostname', value=host)
            input#personal-dynamic(type='checkbox', name='personal', checked=false)
            label(for='personal-dynamic') personal (#{host})
        fieldset
          input(type='hidden', name='dynamic', value='true')
          input.btn.btn-primary(type='submit', value='Add')

    .col-md-3
      h3 Dynamic Forwards
      p.
        Dynamic forwards use regular expressions to allow dynamic redirects by
        passing information from the shortened name to the target url.
      p.
        If you use <code>{NUM}</code>, it will match any series of numbers in the
        pretty name, and replace <code>{NUM}</code> with them in the target url.
      p.
        If you use <code>/{QUERY}</code>, it will match any text string in the
        pretty name, and replace <code>{QUERY}</code> with them in the target url.
      h3 Example:
      dl
        dt
          code google/{QUERY}
        dd
          div redirect to
          code google.com/?q={QUERY}
        dt
          code w{NUM}
        dd
          div redirect to
          code weather.com/weather/today/{NUM}
