extends layout

block nav
  include nav

block content
  if error
  #error.err= error

  article
    header
      h1 Add Forward
    form.inline(method='post', action='/_add')
      fieldset
        p
          | Make http://hostname/
          input(type='text', name='name', placeholder='pretty-name', size=18)
          |  redirect to 
          input(type='text', name='url', placeholder='http://target.url/', size=30)
          | .
      if host
        fieldset
          input(type='hidden', name='hostname', value=host)
          input#personal(type='checkbox', name='personal', checked=false)
          label(for='personal') personal (#{host})
      fieldset
        input(type='submit', value='Add')

  if host
    aside
      h3 Personal Forward
      p.
        Personal forwards are only enabled for the current user. By checking the
        <code>personal</code> box, it will only be enabled for you. You can use
        this to override any of the public forwards.

  article
    header
      h1 Add Dynamic Forward
    form.inline(method='post', action='/_add')
      fieldset
        p
          | Make http://hostname/
          input(type='text', name='name', placeholder='prefix{NUM}', size=18)
          |  redirect to
          input(type='text', name='url', placeholder='http://target.url/{NUM}', size=30)
          | .
      if host
        fieldset
          input(type='hidden', name='hostname', value=host)
          input#personal-dynamic(type='checkbox', name='personal', checked=false)
          label(for='personal-dynamic') personal (#{host})
      fieldset
        input(type='hidden', name='dynamic', value='true')
        input(type='submit', value='Add')

  aside
    h3 Dynamic Forwards
    p.
      Dynamic forwards use regular expressions to allow dynamic redirects by
      passing information from the shortened name to the target url.
    p.
      If you use <code>{NUM}</code>, it will match any series of numbers in the
      pretty name, and replace <code>{NUM}</code> with them in the target url.
    p.
      If you use <code>/{QUERY}</code>, it will match any text string in the
      pretty name, and replace <code>{QUERY}</code> with them in the target url.
    h3 Example:
    dl
      dt
        code google/{QUERY}
      dd
        div redirect to
        code google.com/?q={QUERY}
      dt
        code w{NUM}
      dd
        div redirect to
        code weather.com/weather/today/{NUM}
