extends layout

block nav
  include nav

block content
  .row
    header
      h1 Admin
    table.table.table-sm.table-hover
      thead
        tr
          th Name
          th Target
          th Uses
          th Last Used
          th Actions
      tbody
        each fwd in forwards
          tr.editable
            td
              if fwd.dynamic
                = fwd.name
              else
                a(href=fwd.target)= fwd.name
            td= fwd.getFriendlyTarget()
            td= fwd.uses
            td= fwd.accessed ? moment(fwd.accessed).fromNow() : 'never'
            td.actions
              a.glyphicons.edit(href='_forward/#{fwd._id}/edit') &#xe151
              span.glyphicons.delete &#xe198
